.flexLayout--section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.flexLayout--section-item {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 15px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  & > * {
    height: 100%;
  }

  .podtemplate-labels {
    h3 {
      float: left;
      margin-right: 10px;
    }
  }

  .grid-layout-panel {
    overflow-y: hidden;
  }

}
