.app-logs {
  .container-select {
    margin-bottom: 20px;
  }

  .container-logs {
    border: 1px solid #CCC;

    &-bg {
      background-color: black;
      color: white;
      padding: 4px 8px;
      min-height: 20vh;
      max-height: calc(100vh - 300px);
      overflow-y: auto;
    }

    .container-log {
      font-family: 'Consolas', 'Menlo', monospace;
      font-size: 12px;
      color: white;
      display: flex;
      flex-direction: row;

      &-timestamp {
        width: 300px;
      }

      &-message {
        flex: 1;
      }
    }
  }
}
