@import '~css/variables/variables';

.content-annotations {
  width: 100%;

  .content-annotation {
    word-wrap: break-word;
    overflow: scroll;
    width: 100%;
    margin-bottom: 10px;
  }

  .content-annotation-key {
    font-weight: 700;
  }
}
