<ng-container *ngIf="!isMarkdown; else markdown">
  <ng-container *ngIf="hasStatus">
    <app-indicator [status]="view.config.status"></app-indicator>
  </ng-container>
  {{ value }}
  <div *ngIf="clipboardValue" class="button-container">
    <div cds-layout="horizonal gap:sm">
      <cds-icon-button action="flat" ariaLabel="copy-button" (click)="copyToClipboard()">
        <cds-icon shape="clipboard"></cds-icon>
        <ng-container *ngIf="copied">Copied</ng-container>
      </cds-icon-button>
    </div>
  </div>
</ng-container>

<ng-template #markdown>
  <div ngPreserveWhitespaces [innerHTML]="value" class="markdown"></div>
</ng-template>
