@import '~css/variables/variables.scss';

.viewSummary {

  background-color: #17242b;
  color: #e9ecef;
  flex: 0 0 250px;
  font-size: 12px;
  max-width: 275px;
}

.viewSummary--title {
  border-bottom: 1px solid rgba(173, 187, 196, 0.3);
  color: $blue-light;
  font-weight: bold;
  padding: 7px 20px;
  position: relative;
  text-align: center;
}

.status--ok {
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin-left: -6px;
  position: absolute;
  top: 45%;
  width: 3px;
}

.status--warning {
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin-left: -6px;
  position: absolute;
  top: 45%;
  width: 3px;
}

.status--error {
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin-left: -6px;
  position: absolute;
  top: 45%;
  width: 3px;
}

.viewSummary--content {
  padding: 8px;

  li {
    margin: 0 0 5px;
    text-align: start;
  }

  li:before {
    color: $blue-light;
    content: '•';
    padding-right: 8px;
  }
}
