@import '~css/variables/variables.scss';

.viewSummary {
  border-radius: 4px;
  color: #e9ecef;
  font-size: 12px;
  width: 175px;
}

.viewSummary--title {
  border-bottom: 1px solid rgba(173, 187, 196, 0.3);
  color: $blue-light;
  font-weight: bold;
  padding: 7px 0;
  position: relative;
  text-align: center;
}

.status--ok {
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin-left: -6px;
  position: absolute;
  top: 45%;
  width: 3px;
}

.viewSummary--content {
  padding: 8px;

  div {
    margin-bottom: 5px;
  }
}
