@import '~css/variables/variables.scss';

hr {
  border: 0;
  border-bottom: 2px solid $gray-light;
}

.summary--component-sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .summary-component-section {
    margin-right: 30px;
  }
}
