<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="false" [clrModalClosable]="true" [clrModalSize]="size">
  <h3 class="modal-title">
    <app-view-title [views]="title"></app-view-title>
  </h3>
  <div class="modal-body">
    <app-view-container [view]="body"></app-view-container>
    <app-form *ngIf="form?.fields" #modalAppForm [form]="form"></app-form>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="buttons">
      <ng-container *ngFor="let button of buttons; trackBy: trackByFn; last as isLast">
        <button type="button" class="btn" [ngClass]="(isLast)?'btn-primary':'btn-outline'" (click)="onClick(button.payload)">
          {{ button.name }}
        </button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="form?.fields">
      <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
      <button type="button" class="btn btn-primary submit" (click)="onFormSubmit()">Submit</button>
    </ng-container>
    <ng-container *ngIf="!buttons && !form?.fields">
      <button type="button" class="btn btn-primary" (click)="opened = false">
        Close
      </button>
    </ng-container>
  </div>
</clr-modal>
