<clr-button-group *ngIf="v.config.buttons" class="btn-primary">p
  <ng-container *ngFor="let button of buttons; trackBy: trackByFn">
    <clr-button
      class="{{ button.style }}"
      (click)="onClick(button.payload, button.confirmation, button.modal, button.ref)"
    >
      {{ button.name }}
    </clr-button>
  </ng-container>
</clr-button-group>

<app-view-modal *ngIf="modalView" [view]="modalView"></app-view-modal>
<clr-modal [(clrModalOpen)]="isModalOpen">
  <h3 class="modal-title">{{ modalTitle }}</h3>
  <div class="modal-body">
    <div [innerHTML]="modalBody" ngPreserveWhitespaces></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancelModal()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="acceptModal()">
      OK
    </button>
  </div>
</clr-modal>
