# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.nupkg
*.bak

rice-box.go

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/build
/dist
/node_modules

# electron bundling
/output
/cmd/octant-electron/output
/cmd/octant-electron/bind*.go
/cmd/octant-electron/windows.syso

.vscode
.idea

/tmp

gomock_reflect_*

# mac
.DS_Store

# vim undo files
*.un~
