# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.nupkg
*.bak

rice-box.go

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/build
/dist

# generated fakes
/internal/portforward/fake
/internal/objectstore/fake
/internal/queryer/fake
/internal/cluster/fake
/internal/overview/printer/fake
/pkg/plugin/fake
/pkg/plugin/api/fake


# electron bundling
/vendor/astilectron*
/vendor/electron*
/vendor/status.json
/output
/cmd/devdash/bind*
/cmd/devdash/windows.syso
