# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.nupkg
*.bak

rice-box.go

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/build
/dist

# generated fakes
internal/api/fake
internal/cluster/fake
internal/cache/fake
internal/octant/fake
internal/config/fake
internal/event/fake
internal/kubeconfig/fake
internal/link/fake
internal/module/fake
internal/queryer/fake
internal/printer/fake
internal/resourceviewer/fake
internal/objectvisitor/fake
internal/portforward/fake
internal/objectstore/fake
/pkg/action/fake
/pkg/store/fake
/pkg/plugin/fake
/pkg/plugin/api/fake
/pkg/plugin/service/fake


# electron bundling
/output

.vscode
.idea

/tmp
