.btn {
  @include lato;
  @include font-size('14');
  @include bold;
  @include box-shadow;
  border: 1px solid $orange;
  border-radius: 3px;
  color: $white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all $base-time $base-timing;

  &:hover {
    @include box-shadow-darken;
    cursor: pointer;
    transition: all $base-time $base-timing;
  }
}

.btn--primary {
  background: $orange;
  padding: 8px 32px;

  &:hover {
    background: darken($orange, 20%);
    border: 1px solid darken($orange, 20%);
  }
}

.btn--primary-small {
  background: $orange;

  &:hover {
    background: darken($orange, 20%);
    border: 1px solid darken($orange, 20%);
  }
}

.btn--secondary {
  color: $orange;
  padding: 12px 28px;

  &:hover {
    background: darken($orange, 20%);
    border: 1px solid darken($orange, 20%);
    color: $white;
  }
}

.btn--secondary-small {
  color: $orange;
  padding: 8px 16px;

  &:hover {
    background: darken($orange, 20%);
    border: 1px solid darken($orange, 20%);
    color: $white;
  }
}

.btn--danger-primary {
  background: $red;
  border: 1px solid $red;
  padding: 12px 28px;

  &:hover {
    background: $red-darken;
    border: 1px solid $red-darken;
  }
}

.btn--danger-small {
  background: $red;
  border: 1px solid $red;

  &:hover {
    background: $red-darken;
    border: 1px solid $red-darken;
  }
}

.btn:disabled {
  cursor: default;
  opacity: 0.6;

  &:hover {
    cursor: default;
  }
}

.btn--primary:disabled:hover {
  @include box-shadow;
  background: $orange;
}

.btn--primary-small:disabled:hover {
  @include box-shadow;
  background: $orange;
}

.btn--secondary:disabled:hover {
  @include box-shadow;
  background: $white;
  color: $orange;
}

.btn--secondary-small:disabled:hover {
  @include box-shadow;
  background: $white;
  color: $orange;
}

.btn--danger-primary:disabled:hover {
  @include box-shadow;
  background: $red;
}

.btn--danger-small:disabled:hover {
  @include box-shadow;
  background: $red;
}

.btn--primary-large {
  background: $orange;
  padding: 12px 44px;

  &:hover {
    background: darken($orange, 20%);
    border: 1px solid darken($orange, 20%);
  }
}

.btn--primary-large-inverted {
  background: $white;
  border: none;
  color: $orange;
  padding: 12px 40px;

  &:hover {
    opacity: 0.9;
  }
}

.btn--secondary-large {
  background: $white;
  border: 1px solid $orange;
  color: $orange;
  padding: 14px 42px;

    &:hover {
    background: darken($orange, 20%);
    border: 1px solid darken($orange, 20%);
    color: $white;
  }
}
