$selector-color: #00c986;

.selectors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .selectors--label, .selectors--expression {
    border: 1px solid $selector-color;
    border-radius: 4px;
    color: $selector-color;

    font-size: 12px;

    margin-bottom: 2px;
    margin-right: 4px;
    padding: 5px 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
