@import '~css/variables/variables.scss';

.dd-selector-container {

  .dd-selector__control {
    background-color: $blue-dark;
    color: $white;

    border: none;
    border-bottom: 1px solid $white;
    border-radius: 0;
    box-shadow: none;
    height: 50px;

    &:hover {
      //color: $gray-dark;
      //border-color: $gray-dark;
    }
  }

  .dd-selector__indicator-separator {
    visibility: hidden;
  }

  .dd-selector__indicator {
    border: none;
    color: $white;

    &:hover {
      //color: $gray-dark;
    }
  }

  .dd-selector__single-value {
    padding-bottom: 2px;
    padding-top: 2px;
    color: $white;
  }

  .dd-selector__menu {
    margin: 0;
  }

  .dd-selector__menu-list {
    background-color: $blue-dark;
    padding: 0;
  }

  .dd-selector__option--is-focused, .dd-selector__option--is-selected, .dd-selector__option:active {
    background-color: $white;
    color: $blue-dark;
  }
}
