@import '~css/variables/variables.scss';

.dd-selector-container {
  .dd-selector__control {
    border: none;
    border-bottom: 1px solid $orange;
    border-radius: 0;
    box-shadow: none;
    height: 50px;

    &:hover {
      border-color: $gray-dark;
    }
  }

  .dd-selector__indicator-separator {
    visibility: hidden;
  }

  .dd-selector__indicator {
    border: none;
    color: $orange;

    &:hover {
      color: $orange-medium;
    }
  }

  .dd-selector__single-value {
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .dd-selector__menu {
    margin: 0;
  }

  .dd-selector__menu-list {
    padding: 0;
  }

  .dd-selector__option--is-focused, .dd-selector__option--is-selected, .dd-selector__option:active {
    background-color: lighten($orange, 3%);
    color: white;
  }
}
