@import '~css/variables/variables.scss';

.header--container {
  z-index: 10;

  position: fixed;
  top: 0;
  height: $headerHeight;
  width: 100%;

  display: flex;

  background-color: $headerBGColor;
  font-size: 16px;

  .header--logo {
    @include bold;

    width: $navWidth;

    display: flex;
    align-items: center;

    padding-left: $navLeftPadding;

    font-size: 22px;
    border-right: 1px solid $dividerColor;

    .header-logo-icon {
      width: 20px;
      height: 20px;
      border: 1px solid white;
      margin-right: 10px;
    }
  }

  .header--namespace {
    flex: 1;
    max-width: 400px;
    border-right: 1px solid $dividerColor;

    .header--selector {
      height: 100%;
      color: $white;

      &__control {
        height: 100%;

        background-color: $headerBGColor;
        color: $white;

        border: none;
        box-shadow: none;
      }

      &__value-container, &__input, &__single-value, &__input input {
        @include semiBold;

        color: $white;
      }

      &__value-container {
        padding-left: $navLeftPadding;
      }

      &__menu {
        margin: 0;

        background-color: $headerBGColor;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      &__menu-list {
        padding: 0;

        background-color: $headerBGColor;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }

      &__option {
        padding-left: $navLeftPadding;
      }

      &__option--is-focused,  &__option--is-selected, &__option:active {
        background-color: $white;
        color: $blue-dark;
      }

      &__indicator-separator {
        background-color: $headerBGColor;
      }

      &__dropdown-indicator {
        color: $white;
      }

      &__control &__dropdown-indicator {
        color: red;
      }
    }
  }

  .header--filter {
    flex: 3;
    padding: 13px $navLeftPadding;
    border-right: 1px solid $dividerColor;

    .header-filter-input {
      @include semiBold;

      height: 34px;
      width: 300px;
      padding-left: 8px;

      border: 1px solid $blue-dark;
      border-radius: 4px;
      background-color: $blue-dark;

      font-size: 16px;
      color: $white;

      outline: none;
    }

    .header-filter-input::placeholder {
      color: $gray-dark;
    }
  }

  .header--context {
    @include semiBold;

    flex: 1;
    max-width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
}

