@import '~css/variables/variables.scss';

.header--container {

  background-color: $headerBGColor;

  display: flex;
  font-size: 16px;
  height: $headerHeight;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .header--logo {
    @include bold;
    align-items: center;
    border-right: 1px solid $dividerColor;

    display: flex;

    font-size: 22px;

    padding-left: $navLeftPadding;

    width: $navWidth;

    .header-logo-icon {
      border: 1px solid white;
      height: 20px;
      margin-right: 10px;
      width: 20px;
    }
  }

  .header--namespace {
    border-right: 1px solid $dividerColor;
    flex: 1;
    max-width: 400px;

    .header--selector {
      color: $white;
      height: 100%;

      &__control {
        background-color: $headerBGColor;
        border: none;
        box-shadow: none;
        color: $white;
        height: 100%;
      }

      &__value-container, &__input, &__single-value, &__input input {
        @include semiBold;
        color: $white;
      }

      &__value-container {
        padding-left: $navLeftPadding;
      }

      &__placeholder, &__menu-notice--no-options {
        color: $gray-dark;
      }

      &__menu {
        background-color: $headerBGColor;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        margin: 0;
      }

      &__menu-list {
        background-color: $headerBGColor;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        padding: 0;
      }

      &__option {
        padding-left: $navLeftPadding;
      }

      &__option--is-focused,  &__option--is-selected, &__option:active {
        background-color: $white;
        color: $blue-dark;
      }

      &__indicator-separator {
        background-color: $headerBGColor;
      }

      &__dropdown-indicator {
        color: $white;
      }

      &__control &__dropdown-indicator {
        color: red;
      }
    }
  }

  .header--filter {
    border-right: 1px solid $dividerColor;
    flex: 3;
    padding: 13px $navLeftPadding;
  }

  .header--context {
    @include semiBold;
    align-items: center;

    cursor: pointer;

    display: flex;

    flex: 1;
    flex-direction: row;
    justify-content: center;
    max-width: 400px;
  }
}

