<ng-template [ngIf]="content">
  <ng-container *ngIf="isExternal; else componentInternal">
    <a target="_blank" href="{{ ref }}"><app-view-container [view]="content"></app-view-container></a>
  </ng-container>
</ng-template>

<ng-template [ngIf]="isExternal" [ngIfElse]="internal">
  <a target="_blank" href="{{ ref }}">{{ value }}</a>
</ng-template>

<ng-template #internal>
  <ng-container *ngIf="hasStatus">
    <app-indicator
      [status]="view.config.status"
      [detail]="view.config.statusDetail"
    ></app-indicator>
  </ng-container>
  <a [routerLink]="[ref]">{{ value }}</a>
</ng-template>

<ng-template #componentInternal>
  <a [routerLink]="[ref]"><app-view-container [view]="content"></app-view-container></a>
</ng-template>
