<div class="card">
  <div class="card-block">
    <h3 class="card-title">{{ title }}</h3>
    <clr-datagrid>
      <clr-dg-placeholder *ngIf="placeholder?.length > 0">{{ placeholder }}</clr-dg-placeholder>
      <clr-dg-column *ngFor="let item of columns">{{ item }}</clr-dg-column>

      <clr-dg-row *ngFor="let row of rows">
        <clr-dg-cell *ngFor="let column of columns">
          <app-view [view]="row[column]"></app-view>
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
