@import '~css/variables/variables.scss';
$border: 1px solid $white;

.quadrant {
  border: 1px solid $white;
  border-radius: 3px;
  height: 100%;

  .quadrant-header {
    padding: 14px 16px;
  }

  .quadrant-body {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 14px 20px;

    .quadrant-ne, .quadrant-nw, .quadrant-se, .quadrant-sw {
      padding: 20px 35px;

      .quadrant-value {
        font-weight: bold;
        margin-bottom: 6px;
      }

      .quadrant-label {
        font-size: 13px;
      }
    }

    .quadrant-ne {
      border-bottom: $border;
      border-right: $border;
    }

    .quadrant-nw {
      border-bottom: $border;
      border-left: $border;
    }

    .quadrant-se {
      border-right: $border;
      border-top: $border;
    }

    .quadrant-sw {
      border-left: $border;
      border-top: $border;
    }
  }
}
