@import '~css/variables/variables.scss';

.navigation--left-section {
  a {
    color: $gray-darker;
    text-decoration: none;

    &.active, &:hover {
      text-decoration: underline;
    }
  }

  .navigation--left-item {
    .navigation-subheader {
      margin-bottom: 8px;
      a {
        color: $orange;
      }
    }

    .navigation-subheader-link {
      margin-bottom: 8px;

      a {
        margin-left: 10px;
      }
    }
  }
}
