@import '~css/variables/variables.scss';

.navigation--left-section {
  a {
    color: $white;
    text-decoration: none;

    &.active, &:hover {
      text-decoration: underline;
    }
  }

  .navigation--left-item {
    .navigation-subheader {
      margin-bottom: 8px;

      a {
        color: $white;
        display: block;
        font-size: 14px;
        text-decoration: none;
      }

      a.active {
        @include semiBold;
        border-right: 3px solid $blue-light;
      }


    }

    .navigation-subheader-link {
      margin-bottom: 8px;

      a {
        display: block;
        font-size: 14px;
        margin-left: 10px;
        padding: 4px 0;
        text-decoration: none;
      }

      a.active {
        @include semiBold;
        border-right: 3px solid $blue-light;
      }

    }
  }
}
