<cds-button
  action="{{ style }}"
  status="{{ status }}"
  size="{{ size }}"
  disabled="{{ disabled }}"
  block="{{ block }}"
  (click)="onClick(v?.config?.payload, v?.config?.confirmation, v?.config?.modal)">
  {{ v?.config?.name }}
</cds-button>

<app-view-modal *ngIf="modalView" [view]="modalView"></app-view-modal>
<cds-modal id="confirmation-modal" [closable]="true" [hidden]="true" (closeChange)="toggleModal()">
  <cds-modal-header>
    <h3 cds-text="title" cds-first-focus tabindex="-1">{{ modalTitle }}</h3>
  </cds-modal-header>
  <cds-modal-content>
    <div [innerHTML]="modalBody" ngPreserveWhitespaces></div>
  </cds-modal-content>
  <cds-modal-actions>
    <cds-button action="outline" (click)="toggleModal()">Cancel</cds-button>
    <cds-button (click)="acceptModal()">OK</cds-button>
  </cds-modal-actions>
</cds-modal>
