<cds-button
  action="{{ style }}"
  status="{{ status }}"
  size="{{ size }}"
  disabled="{{ disabled }}"
  block="{{ block }}"
  (click)="onClick(v.config.payload, v.config.confirmation, v.config.modal)">
  {{ v.config.name }}
</cds-button>

<app-view-modal *ngIf="modalView" [view]="modalView"></app-view-modal>
<clr-modal [(clrModalOpen)]="isModalOpen">
  <h3 class="modal-title">{{ modalTitle }}</h3>
  <div class="modal-body">
    <div [innerHTML]="modalBody" ngPreserveWhitespaces></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="cancelModal()">
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="acceptModal()">
      OK
    </button>
  </div>
</clr-modal>
