@import '~css/variables/variables.scss';

.navigation--left-header {
  padding-right: 20px;

  a {
    @include bold;
    color: $white;
    text-decoration: none;

    &.active {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
