---
layout: default
id: home
description: Visualize your Kubernetes workloads
backgrounds:
  case_study: med-blue
  team: dark-blue
hero:
  banner: /img/heroes/hero-octant.svg
  headline: Visualize your Kubernetes workloads
  content: Octant is an open source developer-centric web interface for Kubernetes that lets you inspect a Kubernetes cluster and its applications.
  cta_link1:
    text: Latest Release Information
    url: /docs/
  cta_link2:
    text: Download Octant
    url: https://github.com/vmware-tanzu/octant/releases/latest
  promo1:
    icon: /img/icon-visualization.svg
    #url: http://www.example.com?box1
    title:  Visualization
    content: Provide a visual interface to managing Kubernetes that complements and extends existing tools like kubectl and kustomize.
  promo2:
    icon: /img/icon-extensibility.svg
    #url: http://www.example.com?box2
    title: Extensibility
    content: Add information to your cluster views through Octant’s plug-in system.
  promo3:
    icon: /img/icon-versatility.svg
    #url: http://www.example.com?box3
    title: Versatility
    content: Support a variety of debugging features such as filtering labels and streaming container logs to be part of the Kubernetes development toolkit.
secondary_ctas:
  cta1:
    title: Introduction to Octant
    url: octant-reveals-objects-running-in-kubernetes-clusters
    content: Learn about why Octant was created and how it aims to improve upon past attempts to create a Kubernetes dashboard.
  cta2:
    title: Octant Webinar - Sept 18, 2019
    url: https://www.youtube.com/watch?v=D5PLsXP9aPc
    content: Learn how to use Octant in your environment to better understand the state of the applications running inside the cluster.
#reference:
#  title: Getting Sonobuoy
#  content: Lorem ipsum dolor sit amet....
#  links:
#    ISO: http://www.example.com
#    OVA: http://www.example.com
#    Amazon Machine Image: http://www.example.com
#    Google Compute Engine Image: http://www.example.com
#    Azure VHD: http://www.example.com
---
<div class="home-hero bg-color-{{ site.hero.background-color }}" style="background-image: url('{{ page.hero.banner }}')">
  <div class="section">
    <div class="section-content">
      <div class="hero-content">
        <h1 class="mb-3">{{ page.hero.headline }}</h1>
        <p>{{ page.hero.content }}</p>
      </div>
      <div class="hero-cta mt-4">
        <a href="{{ page.hero.cta_link1.url }}" class="btn btn-primary mb-3 mb-sm-0">{{ page.hero.cta_link1.text }}</a>
        <a href="{{ page.hero.cta_link2.url }}" class="btn btn-outline-light">{{ page.hero.cta_link2.text }}</a>
      </div>
    </div>
  </div>
</div> <!-- /home-hero -->
<div class="section section-card section-card-offset-top promo-cards">
  <div class="section-content">
    <div class="row">
      <div class="col-md">
        <div class="card card-light mb-3 mb-md-0 shadow-sm">
          <div class="card-body match-height">
            <figure>
              <img src="{{ page.hero.promo1.icon }}" alt="{{ page.hero.promo1.title }}" />
            </figure>
            {% if page.hero.promo1.url.size > 0 %}
            <h5><a href="{{ page.hero.promo1.url }}" class="dark">{{ page.hero.promo1.title }}</a></h5>
            {% else %}
            <h5>{{ page.hero.promo1.title }}</h5>
            {% endif %}
            <p>{{ page.hero.promo1.content }}</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card card-light mb-3 mb-md-0 shadow-sm">
          <div class="card-body match-height">
            <figure>
              <img src="{{ page.hero.promo2.icon }}" alt="{{ page.hero.promo2.title }}" />
            </figure>
            {% if page.hero.promo2.url.size > 0 %}
            <h5><a href="{{ page.hero.promo2.url }}" class="dark">{{ page.hero.promo2.title }}</a></h5>
            {% else %}
            <h5>{{ page.hero.promo2.title }}</h5>
            {% endif %}
            <p>{{ page.hero.promo2.content }}</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card card-light mb-3 mb-md-0 shadow-sm">
          <div class="card-body match-height">
            <figure>
              <img src="{{ page.hero.promo3.icon }}" alt="{{ page.hero.promo3.title }}" />
            </figure>
            {% if page.hero.promo3.url.size > 0 %}
            <h5><a href="{{ page.hero.promo3.url }}" class="dark">{{ page.hero.promo3.title }}</a></h5>
            {% else %}
            <h5>{{ page.hero.promo3.title }}</h5>
            {% endif %}
            <p>{{ page.hero.promo3.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-grey">
  <div class="section-content">
    <div class="row bg-grey">
      <div class="col-sm-5 mb-3 mb-sm-0">
        <h6 class="mb-1">
          <a href="{{ page.secondary_ctas.cta1.url }}">{{ page.secondary_ctas.cta1.title }}</a>
        </h6>
        <p class="mb-0">{{ page.secondary_ctas.cta1.content }}</p>
      </div>
      <div class="col-sm-5 offset-sm-2">
        <h6 class="mb-1">
          <a href="{{ page.secondary_ctas.cta2.url }}">{{ page.secondary_ctas.cta2.title }}</a>
        </h6>
        <p class="mb-0">{{ page.secondary_ctas.cta2.content }}</p>
      </div>
    </div>
  </div>
</div>

<!--
<div class="section pb-0">
    <div class="section-content">
      <div class="row">
        <div class="col">
          <h2 class="text-center">{{ page.reference.title }}</h2>
          <p>{{ page.reference.content }}</p>

          <ul>
            {% for link in page.reference.links %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
-->

<div class="section">
  <div class="section-content">
    <div class="row">
      <div class="col">
        <h2>Features</h2>
      </div>
    </div>
    {% assign limit = 3 %}
    {% include case-studies-alternating.html %}
  </div>
</div>

<div class="section pt-3">
  <div class="section-content">
    <div class="row">
      <div class="col">
        <h2>Blog Highlights</h2>
      </div>
    </div>
    {% assign limit = 3 %}
    {% include blog-posts.html %}
    <div class="row pt-5">
      <div class="col text-center">
        <a href="/blog" class="btn btn-secondary btn-sm">See All Posts</a>
      </div>
    </div>
  </div>
</div>

