<div class="editor-container">
  <div class="editor">
    <ngx-monaco-editor
      [(ngModel)]="value"
      [options]="options"
      [attr.modelUri]="uri"
    ></ngx-monaco-editor>
  </div>

  <div class="controls">
    <app-view-select-file [view]= "selectFileView" (fileChanged)="inputFileChanged($event)"></app-view-select-file>
    <cds-button size="sm" action="outline" (click)="reset()" [disabled]="!isModified" >
      Reset
    </cds-button>
    <cds-button size="sm" action="outline" (click)="submit()" [disabled]="isUpdateEnabled()"
    >
      {{ submitLabel }}
    </cds-button>
  </div>
</div>
