@import '~css/variables/variables.scss';

.overview {
  .main {
    height: 100%;
    padding: 50px;

    .component--primary {
      margin-bottom: 50px;
      padding: 20px;

      .content-text {
        text-align: center;
      }

      .empty-content-text {
        color: $gray-accent;
      }

      .error-content-text {
        color: $red
      }
    }

    .loading-parent {
      margin-top: 10vh;
    }
  }
}
