@import '~css/variables/variables.scss';

.overview {
  .main {
    height: 100%;

    .component--primary {
      margin-bottom: 50px;
      padding: 20px 50px;

      .content-text {
        text-align: center;
      }

      .empty-content-text {
        color: $gray-accent;
      }

      .error-content-text {
        color: $red
      }
    }

    .loading-parent {
      margin-top: 10vh;
    }

    .content-type-list {
      .content-type-list-item {
        margin-bottom: 20px;
      }
    }
  }
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {
    border-bottom: 1px solid rgba(173, 187, 196, 0.3);
    margin: 0 0 10px;
    padding: 0 0 0 50px;
  }

  &__tab {
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    color: adjust-color($white, $lightness: -30%);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    list-style: none;
    margin: 0 18px 0 0;
    padding: 6px 0;
    position: relative;

    &--selected {
      border-bottom: 3px solid $blue-light;
      color: $white;
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}
