@import '~css/variables/variables.scss';

.overview {
  .main {
    height: 100%;
    padding: 20px 50px;

    .component--primary {
      margin-bottom: 50px;
      padding: 20px;

      .content-text {
        text-align: center;
      }

      .empty-content-text {
        color: $gray-accent;
      }

      .error-content-text {
        color: $red
      }
    }

    .loading-parent {
      margin-top: 10vh;
    }

    .content-type-list {
      .content-type-list-item {
        margin-bottom: 20px;
      }
    }
  }
}
