@import '~css/variables/variables.scss';

.app {
  background-color: $gray-lightest;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .app-page {
    display: flex;
    flex-direction: row;
    height: 100%;

    .app-nav {
      background-color: $white;
      min-width: 200px;
    }

    .app-main {
      flex: 1 1 auto;
    }
  }
}
