@import '~css/variables/variables.scss';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .app-page {
    display: flex;
    flex-direction: row;
    height: 100%;

    .app-nav {
      width: 200px;
    }

    .app-main {
      flex: 1 0 auto;
    }
  }
}
