@import '~css/variables/variables.scss';

$sidebarWidth: 295px;

.app {
  position: relative;
  background-color: $blue-dark;
  color: $white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 70px;

  .app-nav, .app-main {
    float: left;
  }

  .app-nav {
    width: $sidebarWidth;
    height: 100%;
    position: fixed;
  }

  .app-main {
    position: relative;
    left: $sidebarWidth;
    width: calc(100% - #{$sidebarWidth});
  }
}
