<clr-modal
  class="quick-switcher-modal"
  [(clrModalOpen)]="opened"
  [clrModalStaticBackdrop]="false"
  [clrModalSkipAnimation]="true"
  (keyup.enter)="onEnter()"
  (keyup)="onKeyUp($event)"
  (keydown)="onKeyDown($event)"
>
  <div class="modal-body">
    <input
      class="filter-input"
      clrInput
      placeholder="Let's go somewhere"
      name="input"
      [(ngModel)]="input"
      (ngModelChange)="onInputChange($event)"
    />
    <table class="table table-noborder destinations">
      <thead *ngIf="searchingNamespace">
        <tr>
          <th>Searching Namespaces</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let destination of filteredDestinations;
            trackBy: identifyDestinationItem;
            index as index
          "
          (mouseover)="activeIndex = index"
          (click)="onEnter($event)"
          [class.destination-active]="index == activeIndex"
          [attr.aria-label]="destination.title"
        >
          <td>{{ destination.title }}</td>
          <td>{{ destination.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <pre>{{ helperText}}<code>!</code></pre>
  </div>
</clr-modal>
