<div class="hero homepage">
	<div class="wrapper">
		<div class="text-block">
			<h1>Visualize your Kubernetes workloads</h1>
			<p>Octant is an open source developer-centric web interface for Kubernetes that lets you inspect a Kubernetes cluster and its applications.</p>
			<div class="buttons">
                <a class="button" href="/docs/">Latest Release Information</a>
                <a class="button secondary" href="https://github.com/vmware-tanzu/octant/releases/tag/v0.16.3">Download Octant</a>
            </div>
		</div>
	</div>
</div>