<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/icon-visualization.svg" />
				<h3>Visualization</h3>
				<p>Provide a visual interface to managing Kubernetes that complements and extends existing tools like kubectl and kustomize.</p>
			</div>
			<div class="card">
				<img src="/img/icon-extensibility.svg" />
				<h3>Extensibility</h3>
				<p>Add information to your cluster views through Octant’s plug-in system.</p>
			</div>
			<div class="card">
				<img src="/img/icon-versatility.svg" />
				<h3>Versatility</h3>
				<p>Support a variety of debugging features such as filtering labels and streaming container logs to be part of the Kubernetes development toolkit.</p>
			</div>
		</div>
	</div>
</div>