<div class="team">
    <div class="wrapper">
        <h2>The Octant Team</h2>
        <p>Octant is released as open source software and provides community support through our GitHub project page. If you encounter an issue or have a question, feel free to reach out on the <a href="https://github.com/vmware-tanzu/octant/issues">GitHub issues page for Octant</a>.</p>
        <p>The Octant project team welcomes contributions from the community — please see our <a href="https://github.com/vmware-tanzu/octant/blob/master/CONTRIBUTING.md">contributing documentation</a>.</p>
        <div class="grid three">
            <div class="bio">
                <div class="image"><img src="/img/contributors/bryan-liles.jpg" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/bryanl">Bryan Liles</a></p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/sam-foo.jpg" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/GuessWhoSamFoo">Sam Foo</a></p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/wayne-witzel-iii.jpg" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/wwitzel3">Wayne Witzel III</a></p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/milan-klanjsek.jpg" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/mklanjsek">Milan Klanjsek</a></p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/isha-bagha.jpg" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/ibagha">Isha Bagha</a></p>
                    <p class="position">Product Designer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/contributors/pia-chakrabarti.jpg" /></div>
                <div class="info">
                    <p class="name"><a href="https://github.com/piachakra">Pia Chakrabarti</a></p>
                    <p class="position">Product Manager</p>
                </div>
            </div>
        </div>
    </div>
</div>