.resourceViewer {
  .viewer {
    min-height: 75vh;
  }

  .node {
    cursor: pointer;
    fill: white;

    .label {
      fill: black;
    }

    &.selected {
      stroke: #003d79;
      stroke-width: 2.5px;
    }

    &-ok {
      filter: box-shadow 0 4px 10px rgba(0, 0, 0, 0.3);
      rect {
        fill: #60b515;
      }
    }

    &-warning {
      rect {
        fill: #f57600;
      }
    }

    &-error {
      rect {
        fill: #e12200;
      }
    }
  }

  .edgePath {
    path.path {
      stroke: #003d79;
      stroke-width: 1.5px;
    }
  }

  .label {
    margin: 20px 0;
  }

  .resource {
    background-color: #fff;
    border: 1px solid black;
    padding: 25px 40px;
    position: relative;
  }

  .resource-name {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .resource-type {
    color: white;
    font-size: 14px;
    font-weight: 200;
  }

  .resource-status {
    bottom: 0;
    height: 15px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
