<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
    <!-- Namespace selector -->
    <div class="namespace-switcher" *ngIf="!collapsed">
        <app-namespace></app-namespace>
    </div>

    <!-- Navigation items -->
    <div class="navigation-items">
        <clr-vertical-nav-group
            routerLinkActive="active"
            *ngFor="let section of navigation.sections; trackBy: identifyNavigationItem"
        >
            <clr-icon [attr.shape]="section.iconName | default:'home'" clrVerticalNavIcon></clr-icon>
            {{ section.title }}
            <clr-vertical-nav-group-children>
                <a
                    clrVerticalNavLink
                    *ngFor="let category of section.children; trackBy: identifyNavigationItem"
                    [routerLink]="formatPath(category.path)"
                   routerLinkActive="active"
                >
                   <clr-icon [attr.shape]="itemIcon(category) | default:'folder'"></clr-icon>
                   {{ category.title }}
                </a>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
    </div>

    <!-- Theme switcher -->
    <div class="theme-switcher" *ngIf="!collapsed">
        <app-theme-switch-button></app-theme-switch-button>
    </div>
</clr-vertical-nav>
