<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
    <!-- Namespace selector -->
    <div class="namespace-switcher" *ngIf="!collapsed">
        <app-namespace></app-namespace>
    </div>

    <!-- Navigation items -->
    <div class="navigation-items">
        <ng-container *ngFor="let section of navigation.sections; let i = index; trackBy: identifyNavigationItem">
            <ng-template [ngIf]="section.module">
                <div class="nav-divider"></div>
                <span *ngIf="!collapsed" class="title">{{ section.module }}</span>
            </ng-template>
            <ng-container *ngIf="section.children?.length > 0; else noChild">
                <clr-vertical-nav-group
                    *ngIf="!collapsed; else hideExpand"
                    routerLinkActive="active"
                    [clrVerticalNavGroupExpanded]="shouldExpand(i)"
                    (clrVerticalNavGroupExpandedChange)="setNavState($event, i)"
                >
                    <clr-icon [attr.shape]="section.iconName | default:'home'" clrVerticalNavIcon></clr-icon>
                    {{ section.title }}
                    <clr-vertical-nav-group-children>
                        <a
                            clrVerticalNavLink
                            *ngFor="let category of section.children; trackBy: identifyNavigationItem"
                            [routerLink]="formatPath(category.path)"
                            [routerLinkActiveOptions]="{exact: true}"
                            routerLinkActive="active"
                        >
                        <clr-icon *ngIf="itemIcon(category) as categoryIcon" [attr.shape]="categoryIcon" clrVerticalNavIcon></clr-icon>
                        {{ category.title }}
                        </a>
                    </clr-vertical-nav-group-children>
                </clr-vertical-nav-group>
                <ng-template #hideExpand>
                    <a clrVerticalNavLink (click)="collapsed=false; setNavState($event, i)">
                        <clr-icon [attr.shape]="section.iconName | default:'home'" clrVerticalNavIcon></clr-icon>
                        {{ section.title }}
                    </a>
                </ng-template>
            </ng-container>
            <ng-template #noChild>
                <a clrVerticalNavLink
                    [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="formatPath(section.path)"
                    routerLinkActive="active"
                >
                    <clr-icon [attr.shape]="section.iconName | default:'home'" clrVerticalNavIcon></clr-icon>
                    {{ section.title }}
                </a>
            </ng-template>
        </ng-container>
    </div>

    <!-- Theme switcher -->
    <div class="theme-switcher" *ngIf="!collapsed">
        <app-theme-switch-button></app-theme-switch-button>
    </div>
</clr-vertical-nav>
