:host-context(body) {
  --label1-color: black;
  --label2-color: black;
}

:host-context(body.dark) {
  --label1-color: white;
  --label2-color: white;
}

.cy {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

::ng-deep .label-header .label1 {
  font-size: 22px;
  color: var(--label1-color);
  font-weight: normal;
  margin-top: 8px;
  line-height: 22px;
  cursor: default;
}

::ng-deep .label-header .label2 {
  font-size: 16px;
  color: var(--label2-color);
  font-weight: normal;
  margin-top: 4px;
  line-height: 18px;
  cursor: default;
}
