<div class="breadcrumb">
  <div class="breadcrumb-body">
    <ng-container *ngIf="path?.length > 1">
      <div *ngFor="let breadcrumb of path; trackBy: identifyPath"
        class="breadcrumb-item">
        <ng-container
          *ngIf="breadcrumb.url; then withLink; else withoutLink"
        ></ng-container>
        <ng-template #withLink>
          <a [routerLink]="[breadcrumb.url]">
          {{ breadcrumb.title }}
          </a>
          <clr-icon shape="angle" class="separator"></clr-icon>
        </ng-template>
        <ng-template #withoutLink>
          <span class="breadcrumb-span">
          {{ breadcrumb.title }}
          </span>
        </ng-template>
      </div>
    </ng-container>
  </div>
  <h2 class="breadcrumb-header">
    {{header}}
  </h2>
</div>
