<div class="breadcrumb">
  <div class="breadcrumb-body">
    <div *ngFor="let breadcrumb of path; trackBy: identifyPath"
        class="breadcrumb-item">
      <ng-container
        *ngIf="breadcrumb.url; then withLink; else withoutLink"
      ></ng-container>
      <ng-template #withLink>
        <a [routerLink]="[breadcrumb.url]">
        {{ breadcrumb.title }}
        </a>
        <clr-icon shape="angle" class="separator"></clr-icon>
      </ng-template>
      <ng-template #withoutLink>
        <span>
        {{ breadcrumb.title }}
        </span>
      </ng-template>
    </div>
  </div>
  <h2 class="breadcrumb-header">
    {{header}}
  </h2>
</div>
