@import 'src/styles.scss';

.view-labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;

  .view-label {
    position: relative;
    @include pill($label-color);
  }
}
