@import '~css/variables/variables.scss';

.navigation--left-section {
  margin-left: $navLeftPadding;

  &:first-child {
    padding-top: 10px;
  }

  &:not(:first-child) {
    margin-top: 10px;
  }

  & .navigation--left-items {
    margin-left: 10px;

    & .navigation--left-item {
      margin-top: 8px;
    }
  }
}
