.resourceViewer {
  min-height: 75vh;

  .node {
    cursor: pointer;
    fill: white;

    rect {
      border-radius: 4px;
      fill: #004A70;
      stroke: rgba(173, 187, 196, 0.3);
      stroke-width: 2px;
    }

    .label {
      fill: black;
    }

    &.selected .resource-name {
      color: pink;
    }

    &-ok {
      filter: box-shadow 0 4px 10px rgba(0, 0, 0, 0.3);
      rect {
        stroke: #aadb1e;
      }
    }

    &-warning {
      rect {
        stroke: #ff9c32;
      }
    }

    &-error {
      rect {
        stroke: #e12200;
      }
    }
  }

  .edgePath {
    path.path {
      fill: #565656;
      stroke: #565656;
      stroke-width: 2px;
    }
  }

  .resource {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 30px;
    position: relative;
  }

  .resource-name {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .resource-type {
    color: white;
    font-size: 12px;
    font-weight: 200;
  }

  .resource-status {
    bottom: 0;
    height: 15px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
