@import '~css/variables/variables.scss';

$border-color: rgba(173, 187, 196, 0.3);

.summary-component {
  border: 1px solid $border-color;
  overflow-x: hidden;

  .summary-component-title {
    border-bottom: 1px solid $border-color;
    padding: 12px;

    span {
      @include semiBold;
      font-size: 16px;
    }
  }

  table {
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      padding: 0 0 10px 0;
    }

    th {
      @include bold;
      padding-right: 30px;
      text-align: left;
      white-space: nowrap;
      width: 150px;
    }

    td {
      white-space: normal;
      word-wrap: break-word;
    }
  }

  .summary-component-section {
    display: relative;
    padding: 12px;
    width: 100%;
  }
}
