<form
  clrStepper
  [formGroup]="formGroup"
>
  <div
    class="step-item"
    *ngFor="let step of steps; index as i; trackBy: trackByFn"
  >
    <clr-stepper-panel [formGroupName]="step.name">
      <clr-step-title>{{ step.title }}</clr-step-title>
      <clr-step-description>{{ step.description }}</clr-step-description>
      <clr-step-content>
        <div *ngFor="let field of step.form?.fields; trackBy: trackByFn">
            <ng-container [ngSwitch]="field.type">
                <ng-container *ngSwitchCase="'checkbox'">
                  <clr-checkbox-container>
                    <label [for]="field.name">{{ field.label }}</label>
                    <clr-checkbox-wrapper
                      *ngFor="let opt of fieldChoices(field); trackBy: trackByFn"
                    >
                      <input
                        type="checkbox"
                        clrCheckbox
                        [formControlName]="field.name"
                        [value]="opt.value"
                        [checked]="opt.checked"
                      />
                      <label>{{ opt.label }}</label>
                    </clr-checkbox-wrapper>
                    <clr-control-error>{{ field.error }}</clr-control-error>
                  </clr-checkbox-container>
                </ng-container>
                <ng-container *ngSwitchCase="'radio'">
                  <clr-radio-container>
                    <label [for]="field.name">{{ field.label }}</label>
                    <clr-radio-wrapper
                      *ngFor="let opt of fieldChoices(field); trackBy: trackByFn"
                    >
                      <input
                        type="radio"
                        clrRadio
                        [formControlName]="field.name"
                        [value]="opt.value"
                      />
                      <label>{{ opt.label }}</label>
                    </clr-radio-wrapper>
                    <clr-control-error>{{ field.error }}</clr-control-error>
                  </clr-radio-container>
                </ng-container>
                <ng-container *ngSwitchCase="'text'">
                  <clr-input-container>
                    <label [for]="field.name">{{ field.label }}</label>
                    <input clrInput type="text" [name]="field.name" [formControlName]="field.name" [placeholder]="field.placeholder ? field.placeholder : ''" />
                    <clr-control-error>{{ field.error }}</clr-control-error>
                  </clr-input-container>
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                  <clr-input-container>
                    <label [for]="field.name">{{ field.label }}</label>
                    <input clrInput type="number" [formControlName]="field.name" />
                    <clr-control-error>{{ field.error }}</clr-control-error>
                  </clr-input-container>
                </ng-container>
                <ng-container *ngSwitchCase="'password'">
                  <clr-input-container>
                    <label [for]="field.name">{{ field.label }}</label>
                    <input clrInput type="password" [formControlName]="field.name" />
                    <clr-control-error>{{ field.error }}</clr-control-error>
                  </clr-input-container>
                </ng-container>
                <ng-container *ngSwitchCase="'select'">
                  <clr-select-container>
                    <label [for]="field.name">{{ field.label }}</label>
                    <select
                      clrSelect
                      [formControlName]="field.name"
                      [multiple]="field.configuration.multiple"
                    >
                      <option
                        *ngFor="let opt of fieldChoices(field); trackBy: trackByFn"
                        [value]="opt.value"
                      >
                        {{ opt.label }}
                      </option>
                    </select>
                    <clr-control-error>{{ field.error }}</clr-control-error>
                  </clr-select-container>
                </ng-container>
                <ng-container *ngSwitchCase="'textarea'">
                  <clr-textarea-container>
                    <label [for]="field.name">{{ field.label }}</label>
                    <textarea clrTextarea [formControlName]="field.name"></textarea>
                    <clr-control-error>{{ field.error }}</clr-control-error>
                  </clr-textarea-container>
                </ng-container>
                <ng-container *ngSwitchCase="'hidden'"> </ng-container>
                <ng-container *ngSwitchDefault>
                  Unable to display form field type {{ field.type }}
                </ng-container>
              </ng-container>
        </div>
        <button
          *ngIf="v.config.steps.length - 1 === i; else elseBlock"
          clrStepButton="submit"
        >
          submit
        </button>
        <ng-template #elseBlock
          ><button clrStepButton="next">next</button></ng-template
        >
      </clr-step-content>
    </clr-stepper-panel>
  </div>
</form>
