<ng-container
  *ngTemplateOutlet="currentAction ? action : content"
></ng-container>

<ng-template #action>
  <app-form
    #appForm
    [form]="currentAction.form"
    [title]="currentAction.title"
    (submit)="onActionSubmit($event)"
    (cancel)="onActionCancel()"
  >
  </app-form>
</ng-template>

<ng-template #content>
  <div class="card">
    <div class="card-block">
      <ng-container *ngIf="v.config.alert">
        <div class="alert alert-{{ v.config.alert.type }} alert-sm">
          <div class="alert-item static">
            <span class="alert-text">
              {{ v.config.alert.message }}
            </span>
          </div>
        </div>
      </ng-container>
      <h4 class="card-title">
        <app-view-title [views]="title"></app-view-title>
      </h4>

      <div class="card-text">
        <app-view-container [view]="body"></app-view-container>
      </div>
    </div>

    <div class="card-footer" *ngIf="v.config.actions?.length > 0">
      <ng-container *ngFor="let action of v.config.actions; trackBy: trackByFn">
        <button class="btn btn-sm btn-link" (click)="setAction(action)">
          {{ action.name }}
        </button>
      </ng-container>
    </div>
  </div>
</ng-template>
