<cds-form-group layout="vertical" control-width="shrink">
  <ng-container  *ngFor="let field of form?.fields; trackBy: trackByFn">
    <ng-container *ngIf="field.type ==='layout'; else withoutLayout ">
      <div cds-layout="horizontal gap:lg">
        <label *ngIf="field.label">{{ field.label }}</label>
        <ng-container *ngFor="let f of field.configuration.fields; trackBy: trackByFn">
          <ng-container *ngTemplateOutlet="formInputs; context: { field: f }"></ng-container>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #withoutLayout>
      <ng-container *ngTemplateOutlet="formInputs; context: { field: field }"></ng-container>
    </ng-template>
  </ng-container>
</cds-form-group>

<ng-template #formInputs let-field="field">
  <ng-container [formGroup]="formGroupContainer" [ngSwitch]="field.type">

    <ng-container *ngSwitchCase="'checkbox'">
      <cds-checkbox>
        <cds-checkbox-group>
          <label [for]="field.name">{{ field.label }}</label>
          <cds-checkbox *ngFor="let opt of fieldChoices(field); trackBy: trackByFn">
            <input
              type="checkbox"
              clrCheckbox
              [formArrayName]="field.name"
              [value]="opt.value"
              [checked]="opt.checked"
              (change)="onCheck($event, field.name)"
            />
            <label>{{ opt.label }}</label>
          </cds-checkbox>
          <cds-control-message *ngIf="isInvalid(field.name)" status="error">{{ field.error }}</cds-control-message>
        </cds-checkbox-group>
      </cds-checkbox>
    </ng-container>

    <ng-container *ngSwitchCase="'radio'">
      <cds-radio-group>
        <label [for]="field.name">{{ field.label }}</label>
        <cds-radio *ngFor="let opt of fieldChoices(field); trackBy: trackByFn">
          <input
            type="radio"
            [formControlName]="field.name"
            [value]="opt.value"
          />
          <label>{{ opt.label }}</label>
        </cds-radio>
        <cds-control-message *ngIf="isInvalid(field.name)" status="error">{{ field.error }}</cds-control-message>
      </cds-radio-group>
    </ng-container>

    <ng-container *ngSwitchCase="'text'">
      <cds-input>
        <label [for]="field.name">{{ field.label }}</label>
        <input
          type="text"
          [formControlName]="field.name"
          [placeholder]="field.placeholder ? field.placeholder : ''"
        />
        <cds-control-message *ngIf="isInvalid(field.name)" status="error">{{ field.error }}</cds-control-message>
      </cds-input>
    </ng-container>

    <ng-container *ngSwitchCase="'number'">
      <cds-input>
        <label [for]="field.name">{{ field.label }}</label>
        <input
          type="number"
          [formControlName]="field.name"
        />
        <cds-control-message *ngIf="isInvalid(field.name)" status="error">{{ field.error }}</cds-control-message>
      </cds-input>
    </ng-container>

    <ng-container *ngSwitchCase="'password'">
      <cds-input>
        <label [for]="field.name">{{ field.label }}</label>
        <input
          clrInput
          type="password"
          [formControlName]="field.name"
        />
        <cds-control-message *ngIf="isInvalid(field.name)" status="error">{{ field.error }}</cds-control-message>
      </cds-input>
    </ng-container>

    <ng-container *ngSwitchCase="'select'">
      <cds-select>
        <label [for]="field.name">{{ field.label }}</label>
        <select
          [formControlName]="field.name"
          [multiple]="field.configuration.multiple"
        >
          <option
            *ngFor="let opt of fieldChoices(field); trackBy: trackByFn"
            [value]="opt.value"
          >
            {{ opt.label }}
          </option>
        </select>
        <cds-control-message *ngIf="isInvalid(field.name)" status="error">{{ field.error }}</cds-control-message>
      </cds-select>
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <cds-textarea>
        <label [for]="field.name">{{ field.label }}</label>
        <textarea clrTextarea [formControlName]="field.name"></textarea>
        <cds-control-message *ngIf="isInvalid(field.name)" status="error">{{ field.error }}</cds-control-message>
      </cds-textarea>
    </ng-container>

    <ng-container *ngSwitchCase="'hidden'"></ng-container>
    <ng-container *ngSwitchDefault>
      Unable to display form field type {{ field.type }}
    </ng-container>
  </ng-container>
</ng-template>
