@import '~css/variables/variables.scss';

.home {
  padding: 50px;

  .main {
    height: 100%;

    .component--primary {
      @include box-shadow;
      background-color: $white;
      margin-bottom: 50px;
      padding: 20px;
    }
  }
}
