@import '~css/variables/variables.scss';

.home {
  .main {
    height: 100%;
    padding: 50px;

    .component--primary {
      @include box-shadow;
      background-color: $white;
      margin-bottom: 50px;
      padding: 20px;

      .empty-content-text {
        color: $gray-accent;
        text-align: center;
      }
    }

    .loading-parent {
      margin-top: 10vh;
    }
  }
}
