@import '_colors';

// default color for uncaught verbs/resources
$default: $gray-light;
$audit-failure: $red;

// graph and summary component colors
$audit-0: darken($orange, 20%);
$audit-1: $blue-dark;
$audit-2: $blue-medium;
$audit-3: $blue-light;
$audit-4: $yellow;
$audit-5: $green-dark;
$audit-6: $green-medium;
$audit-7: $green-light;
$audit-8: $green-bright;
$audit-9: $orange;
$audit-10: $orange-medium;
$audit-11: $red-darken;
$audit-12: $yellow;
$audit-13: $gray-darker;
$audit-14: $gray-dark;
$audit-failure: $red;
