// Color Palette
$black: #101010;
$blue-dark: #122b4d;
$blue-medium: #247ba0;
$blue-light: #2aace8;
$gray-accent: #989898;
$gray-lightest: #f5f5f5;
$gray-light: #d8d8d8;
$gray-dark: #c0c0be;
$gray-darker: #838383;
$green-dark: #116d2d;
$green-medium: #22863a;
$green-light: #92dc52;
$green-bright: #35ca69;
$orange: #f2582d;
$orange-medium: #ed9931;
$red: #ee4444;
$red-darken: #cd3a3a;
$yellow: #f3bf2c;
$white: #ffffff;

// Gradients
@mixin orange-yellow-gradient {
  background: linear-gradient(90deg, $orange 0%, $yellow 100%);
}

@mixin yellow-orange-gradient {
  background: linear-gradient(90deg, $yellow 0%, $orange 100%);
}

@mixin box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

@mixin box-shadow-darken {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
