@mixin raleway {
  font-family: 'Raleway', 'Verdana', sans-serif;
}

@mixin lato {
  font-family: 'Lato', sans-serif;
}

@mixin titillium {
  font-family: 'Titillium Web', sans-serif;
}

@mixin metropolis {
  font-family: 'MetropolisRegular', sans-serif;
}

@mixin monospace {
  @include font-size('12');
  font-family: 'Consolas', 'Menlo', monospace;
}

@mixin serif {
  @include font-size('16');
  font-family: 'Times New Roman', Times, serif;
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$base-font-size: 16px !default;

$typescale-map: (
  '11' : 0.6875rem,
  '12' : 0.75rem,
  '13' : 0.8125rem,
  '14' : 0.875rem,
  '16' : 1rem,
  '18' : 1.125rem,
  '20' : 1.25rem,
  '23' : 1.4375rem,
  '26' : 1.625rem,
  '29' : 1.8125rem,
  '32' : 2rem,
  '36' : 2.25rem,
  '41' : 2.5625rem,
  '46' : 2.875rem,
  '52' : 3.25rem,
  '58' : 3.625rem,
  '66' : 4.125rem,
  '74' : 4.625rem,
  '83' : 5.1875rem,
  '94' : 5.875rem
);

$lineheight-map: (
  'normal' : 1.5,
  'heading' : 1.25,
  'single': 1.1
);

@mixin font-size($size) {
  font-size: map-get($typescale-map, $size);
}

@mixin line-height($height) {
  line-height: map-get($lineheight-map, $height);
}

@mixin normal {
  font-weight: 400;
}

@mixin medium {
  font-weight: 500;
}

@mixin semi-bold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 700;
}
