@import '_animations';
@import '_colors';
@import '_typography';
@import '_spacing';

$navWidth: 295px;
$navLeftPadding: 10px;
$headerHeight: 60px;
$headerBGColor: #404e60;
$dividerColor: rgba(255, 255, 255, 0.15);

@mixin resourceLabel {
  @include regular;
  background-color: transparent;

  border: 1px solid $label-border;
  border-radius: 4px;
  color: $label-text;
}
