<h2>
    <ng-container *ngIf="iconName">
        <clr-icon [attr.shape]="iconName" size="24"></clr-icon>
    </ng-container>
    {{ title }}
</h2>
<clr-tabs *ngIf="tabs.length > 0">
    <clr-tab *ngFor="let tab of tabs; trackBy: identifyTab">
        <div clrTabLink class="tab-button">
        <button clrTabLink class="tab-button" (click)="clickTab(tab.accessor)">
            {{ tab.name }}
        </button>
        <clr-icon shape="times" *ngIf="closable" (click)="closeTab(tab.accessor)"></clr-icon>
        </div>
        <ng-template [clrIfActive]="activeTab === tab.accessor">
            <clr-tab-content>
                <app-content-switcher [view]="tab.view"></app-content-switcher>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
</clr-tabs>
