.input {
  @include font-size('16');
  @include medium;
  background: rgba(0,0,0,0);
  border: none;
  box-shadow: none;
  padding-bottom: 2px;

  &:focus {
    outline: none;
  }
}

.input--light::placeholder {
  color: $white;
  font-style: italic;
  opacity: 1;
}

.input--light {
  border-bottom: 2px solid $white;
  color: $white;

  &::placeholder {
    color: $white;
  }
}

.input--dark {
  border-bottom: 1px solid $orange;
  color: $black;

  &::placeholder {
    color: $gray-dark;
  }
}

.input--inline {
  @include font-size('14');
  @include lato;
  @include normal;
  border: 1px solid $gray-dark;
  border-radius: 3px;
  color: $black;
  padding: 6px;

  &:focus {
    border: 1px solid $orange;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  }
}

.input--box {
  border: solid 1px $gray-light;
  border-radius: 3px;
  height: 30px;

  + label {
    position: absolute;
    top: 0;
  }

  &::placeholder {
    color: $gray-dark;
  }

  &:focus {
    border: 1px solid $orange;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);

    + label {
      color: $orange;
    }
  }
}

.input--error {
  @include bold;
  @include font-size('12');
  color: $red;
  font-style: italic;
}

.input--row {
  @include normal;
  border: solid 1px $gray-accent;
  border-radius: 3px;
  height: 26px;
  width: 100%;

  &:focus {
    border: 1px solid $orange;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  }
}
