<ng-container *ngIf="loading; then loadingT; else errorT">
</ng-container>

<ng-template #loadingT>
  <div class="progress loop"><progress></progress></div>
</ng-template>

<ng-template #errorT>
  <ng-container *ngIf="!loading && error">
    <div class="alert alert-app-level alert-danger">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="alert-text">
            {{error}}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
