

<div class="clr-row">
    <div class="clr-col-sm-4 clr-offset-sm-8">
        <div style="float: right; margin-top: 1em">
            <app-button-group [view]="view?.config?.buttonGroup"></app-button-group>
        </div>
    </div>
</div>

<ng-container *ngIf="view?.config?.sections">
  <div class="clr-row" *ngFor="let section of view?.config?.sections; trackBy: identifySection">
    <div class="clr-col-md-{{ item.width / 2 }} content-card-parent" *ngFor="let item of section; trackBy: identifySection">
      <app-content-switcher [view]="item.view"></app-content-switcher>
    </div>
  </div>
</ng-container>

