@import '~css/variables/variables.scss';

.summary-component-section {
  flex: 1;
  min-width: 0;

  .summary-component-title {
    color: $orange;
    margin-top: 10px;
    text-align: left;
  }
}

.summary--data {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 5px 0;

  .summary--data-key {
    @include bold;
    align-self: flex-start;
    box-sizing: content-box;
    flex: 0 0 auto;
    overflow: hidden;
    padding-right: 50px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }
}
