@import '~css/variables/variables';

.summary--component-title {
  color: $orange;
  margin-top: 10px;
  text-align: left;
}

.summary--data {
  align-items: center;
  display: flex;
  padding: 5px 0;

  .summary--data-key {
    box-sizing: content-box;
    min-width: 100px;
    padding-right: 50px;
    text-align: left;
    @include bold;
  }
}
