<ng-container *ngIf="selected.length > 0; then contextMenu; else noContexts">
</ng-container>

<ng-template #contextMenu>
  <clr-dropdown [clrCloseMenuOnItemClick]="true">
    <button type="button" clrDropdownTrigger>
      <clr-icon shape="cluster"></clr-icon>
      {{ selected }}
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen [clrPosition]="'bottom-right'">
      <label class="dropdown-header">Contexts</label>

      <ng-container *ngFor="let context of contexts; trackBy: trackByFn">
        <button
          type="button"
          [ngClass]="contextClass(context)"
          clrDropdownItem
          (click)="selectContext(context)"
        >
          {{ context.name }}
        </button>
      </ng-container>
    </clr-dropdown-menu>
  </clr-dropdown>
</ng-template>

<ng-template #noContexts>
  <a href="javascript://" class="nav-link nav-icon-text">
    <span class="nav-text">No contexts!</span>
  </a>
</ng-template>
