<h4>{{ title }}</h4>
<clr-datagrid>
    <clr-dg-placeholder>
        <ng-container *ngIf="placeholder?.length >0; else emptyPlaceholder">
            {{placeholder}}
        </ng-container>
        <ng-template #emptyPlaceholder>
            All content has been filtered out.
        </ng-template>
    </clr-dg-placeholder>
    <clr-dg-column *ngFor="let columnName of columns; trackBy: identifyColumn">
        {{ columnName }}
        <clr-dg-filter *ngIf="hasFilter(columnName)">
            <app-content-filter
                    [column]="columnName"
                    [filter]="filters[columnName]"
            ></app-content-filter>
        </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let row of rows; trackBy: identifyRow">
        <clr-dg-cell *ngFor="let column of columns; trackBy: identifyColumn">
            <app-content-switcher [view]="row[column]"></app-content-switcher>
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Items per page</clr-dg-page-size>
            <ng-container *ngIf="rows?.length > 0">
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} items
            </ng-container>
        </clr-dg-pagination>

        <ng-container *ngIf="loading">
            <span class="spinner spinner-inline" style="margin-right: 10px">
                Loading...
            </span>
        </ng-container>
    </clr-dg-footer>
</clr-datagrid>
