<ng-container *ngIf="v?.config?.buttonGroup">
  <div class="clr-row clr-align-items-center clr-justify-content-between">
    <div class="clr-col-2">
      <div class="action-buttons">
        <app-button-group [view]="buttonGroup"></app-button-group>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="v?.config?.sections">
  <div
    *ngFor="let section of sections; trackBy: identifySection"
    class="clr-row"
  >
    <div
      *ngFor="let item of section; trackBy: identifySection"
      [ngStyle]="sectionStyle(item)"
      class="clr-col-md-{{ item.width / 2 }} content-card-parent"
    >
      <app-content-switcher [view]="item.view"></app-content-switcher>
    </div>
  </div>
</ng-container>
