<clr-tabs>
    <clr-tab *ngFor="let section of navigation.sections; trackBy: identifyNavigationItem">
        <button clrTabLink (click)="clickTab(section.title)">
            <clr-tooltip>
                <clr-icon [attr.shape]="section.iconName | default:'home'" clrTooltipTrigger></clr-icon>
                <clr-tooltip-content *clrIfOpen clrPosition="bottom-right">
                    {{ section.title }}
                </clr-tooltip-content>
            </clr-tooltip>
        </button>

        <ng-template [clrIfActive]="activeTab === section.title">
            <clr-tab-content>
                <clr-vertical-nav [clrVerticalNavCollapsible]="false">
                    <a
                            [routerLinkActiveOptions]="{exact: true}"
                            [routerLink]="section.path"
                            clrVerticalNavLink
                            routerLinkActive="active">
                        <clr-icon [attr.shape]="itemIcon(section) | default:'folder'"
                                  clrVerticalNavIcon></clr-icon>
                        {{section.title}}
                    </a>
                    <div class="nav-divider"></div>

                    <ng-container
                            *ngFor="let category of section.children; let i = index; trackBy: identifyNavigationItem">
                        <ng-container *ngIf="category.children?.length > 0; then withChildren; else withoutChildren">
                        </ng-container>

                        <ng-template #withChildren>
                            <div *ngIf="i > 0" class="nav-divider"></div>
                            <clr-vertical-nav-group [clrVerticalNavGroupExpanded]="true" routerLinkActive="active">
                                <clr-icon [attr.shape]="itemIcon(category) | default:'folder'"
                                          clrVerticalNavIcon>
                                </clr-icon>
                                {{category.title}}
                                <clr-vertical-nav-group-children>
                                    <a *ngFor="let entry of category.children; trackBy: identifyNavigationItem"
                                       [routerLink]="entry.path"
                                       clrVerticalNavLink routerLinkActive="active">
                            <span>
                                <clr-icon [attr.shape]="itemIcon(entry) | default:'folder'"
                                          clrVerticalNavIcon>
                                </clr-icon>
                                {{entry.title}}
                            </span>
                                    </a>
                                </clr-vertical-nav-group-children>
                            </clr-vertical-nav-group>
                        </ng-template>

                        <ng-template #withoutChildren>
                            <a [routerLink]="category.path" clrVerticalNavLink routerLinkActive="active">
                                <clr-icon [attr.shape]="itemIcon(category) | default:'folder'"
                                          clrVerticalNavIcon></clr-icon>
                                {{category.title}}
                            </a>
                        </ng-template>
                    </ng-container>
                </clr-vertical-nav>
            </clr-tab-content>
        </ng-template>
    </clr-tab>
</clr-tabs>

