.app-logs {
  .log-actions, .container-select {
    margin-bottom: 20px;
  }

  .container-logs {
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: black;

    &-bg {
      color: white;
      padding: 4px 8px;
      min-height: 20vh;
      max-height: calc(100vh - 325px);
      overflow-y: auto;
    }

    .container-log {
      font-family: 'Consolas', 'Menlo', monospace;
      font-size: 12px;
      color: white;
      display: flex;
      flex-direction: row;

      &-timestamp {
        min-width: 280px;
        width: 280px;
        color: #A9B6BE;
      }

      &-message {
        flex: 1;
        color: #FAFAFA;
        word-wrap: break-word;
        min-width: 100px;
      }
    }
  }
}
