<div class="app-logs">
  <clr-select-container class="container-select">
    <label>Choose a container:</label>
    <select clrSelect name="options" [value]="selectedContainer" (change)="onContainerChange($event.target.value)">
      <option *ngFor="let container of view?.config.containers" value="{{container}}">{{container}}</option>
    </select>
  </clr-select-container>
  <div class="container-logs">
    <div class="container-logs-bg" #scrollTarget (scroll)="onScroll($event)" >
      <ng-container *ngIf="containerLogs?.length < 1">
        No logs
      </ng-container>
      <div class="container-log code language-bash" *ngFor="let log of containerLogs; trackBy: identifyLog">
        <div class="container-log-timestamp">
          {{log.timestamp | date:'long' }}
        </div>
        <div class="container-log-message">
          {{log.message}}
        </div>
      </div>
    </div>
  </div>
</div>
