@import '~css/variables/variables.scss';

.resourceViewer {
  .node {
    cursor: pointer;
    fill: white;

    rect {
      border-radius: 4px;
      stroke: rgba(173, 187, 196, 0.3);
      stroke-width: 1px;
      fill: #22343c;
    }

    .label {
      fill: black;
    }

    &.node-ok {
      filter: box-shadow 0 4px 10px rgba(0, 0, 0, 0.3);
      rect {
        stroke: green;
      }
    }

    &.node-warning {
      rect {
        stroke: #ffb630;
      }
    }

    &.node-error {
      rect {
        stroke: #ff3730;
      }
    }

    &.selected .resource-name {
      color: $blue-light;
    }
  }

  .edgePath {
    path.path {
      fill: rgba(173, 187, 196, 0.3);
      stroke: rgba(173, 187, 196, 0.3);
      stroke-width: 1.5px;
    }


  }

  .resource {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 30px;
    position: relative;
  }

  .resource-name {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .resource-type {
    font-size: 12px;
    font-weight: 200;
  }

  .resource-status {
    bottom: 0;
    height: 15px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .status-ok {
    background-color: blue;
  }

  .status-warning {
    background-color: orange;
  }

  .status-error {
    background-color: red;
  }
}
