<div class="main-container">
    <div class="notifier">
        <app-notifier></app-notifier>
    </div>
    <header class="header header-6">
        <div class="branding">
            <a [routerLink]="['/']">
                <clr-icon shape="octant-logo"></clr-icon>
                <span class="title">Octant</span>
            </a>
        </div>
        <div class="header-nav">
            <div class="namespace-switcher">
                <app-namespace></app-namespace>
            </div>
            <div class="input-filter">
                <app-input-filter></app-input-filter>
            </div>
        </div>
        <div class="header-actions">
            <app-theme-switch-button></app-theme-switch-button>
            <app-context-selector></app-context-selector>
        </div>
    </header>
    <div class="content-container" [ngStyle]="style">
        <div class="navigation">
            <app-navigation></app-navigation>
        </div>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="quick-switcher">
        <app-quick-switcher></app-quick-switcher>
    </div>
</div>
