cds-modal-content {
  height: 50vh;
  min-height: 300px;
  max-height: 450px;
  overflow-y: auto;
}

cds-modal-actions {
  justify-content: flex-start;

  .btn-cancel {
    margin-left: auto;
  }
}

section {
  margin-block-end: 1.33em;
  width: 100%;

  h4 {
    margin: 0 0 0.33em 0;
  }
}

clr-select-container {
  display: flex;
  flex-direction: row;

  ::ng-deep .clr-control-container {
    margin-left: 1.0em;
    margin-top: -0.5em;
  }
}
