@import '~css/variables/variables.scss';

.component--title {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 50px;
  width: 100%;
  position: fixed;
  background-color: $blue-dark;

  h2 {
    @include metropolis;
    @include normal;
    font-size: 18px;

    span:last-child {
      font-weight: 600;
    }
  }
}

.component--title-separator {
  @include metropolis;
  color: $gray-darker;
  margin: 0 11px;
}
