@import '~css/variables/variables.scss';

.component--title {
  align-items: center;
  border-bottom: 1px solid $dividerColor;
  display: flex;
  height: 50px;
  padding-left: 50px;
  width: 100%;

  h2 {
    @include normal;
  }
}
