@font-face {
  font-family: 'MetropolisRegular';
  src: url('~assets/typography/metropolis/Metropolis-Regular.otf');
}

@font-face {
  font-family: 'MetropolisBold';
  src: url('~assets/typography/metropolis/Metropolis-Bold.otf');
}

@font-face {
  font-family: 'MetropolisSemiBold';
  src: url('~assets/typography/metropolis/Metropolis-SemiBold.otf');
}
