.resourceViewer {
    .svgContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .connection {
        stroke-width: 2px;
        stroke: rgb(242,88,45);
    }
}
