.resourceViewer {
    .svgContainer {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .connection {
        stroke: rgb(242,88,45);
        stroke-width: 2px;
    }
}
