@import '~css/variables/variables.scss';

.component--title {
  align-items: center;
  background-color: $blue-dark;
  display: flex;
  height: 54px;
  padding: 12px 0 12px 50px;
  position: fixed;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid $dividerColor;

  h2 {
    @include metropolis;
    @include normal;
    font-size: 25px;

    span:last-child {
      font-weight: 600;
    }

    a:link, a:visited {
      color: $white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

  }
}

.component--title-separator {
  @include metropolis;
  color: $gray-darker;
  margin: 0 11px;
}
