<div *ngIf="node" class="status">
  <div class="card">
    <div [ngClass]="indicatorClass()">
      <progress value="100" max="100"></progress>
    </div>
    <div class="card-block">
      <div class="card-title">
        <span *ngIf="node && !node.path">{{node.name}}</span>
        <app-content-switcher *ngIf="node && node.path" [view]="node.path"></app-content-switcher>
      </div>
      <div *ngIf="node" class="card-text">
        <ul class="node-status">
          <li *ngFor="let detail of node.details; trackBy: detailsTrackBy">
            <app-content-switcher [view]="detail"></app-content-switcher>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
