<div class="app-helper">
  <clr-dropdown>
    <button class="dropdown-button" clrDropdownTrigger>
      <clr-icon shape="help"></clr-icon>
    </button>
    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
      <div
        aria-label="Dropdown header About Octant"
        clrDropdownItem
        (click)="isBuildModalOpen = true"
      >
        About Octant
      </div>
      <div
        aria-label="Dropdown header About Octant"
        clrDropdownItem
        (click)="isShortcutModalOpen = true"
      >
        Keyboard Shortcuts
        <span class="label">
          Ctrl
          <span class="badge">/</span>
        </span>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>

<clr-modal
  [(clrModalOpen)]="isBuildModalOpen"
  [clrModalStaticBackdrop]="false"
  [clrModalSkipAnimation]="true"
>
  <h3 class="modal-title">Build Information</h3>
  <div class="modal-body">
    <table class="table table-vertical table-noborder">
      <tbody>
        <tr>
          <th>Version</th>
          <td>{{ version }}</td>
        </tr>
        <tr>
          <th>Commit</th>
          <td>{{ commit }}</td>
        </tr>
        <tr>
          <th>Built</th>
          <td>{{ time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="isBuildModalOpen = false"
    >
      Close
    </button>
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="isShortcutModalOpen"
  [clrModalStaticBackdrop]="false"
  [clrModalSkipAnimation]="true"
>
  <h3 class="modal-title">Keyboard Shortcuts</h3>
  <div class="modal-body">
    <clr-stack-view>
      <clr-stack-block
        [clrSbExpandable]="false"
        [clrSbExpanded]="true"
        [clrStackViewLevel]="1"
        [clrStackViewSetsize]="2"
        [clrStackViewPosinset]="1"
      >
        <clr-stack-label>Global</clr-stack-label>
        <clr-stack-block
          [clrStackViewLevel]="2"
          [clrStackViewSetsize]="0"
          [clrStackViewPosinset]="1"
        >
          <clr-stack-label>Keyboard shortcut list</clr-stack-label>
          <clr-stack-content>
            <span class="label">Ctrl<span class="badge">/</span></span>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block
          [clrStackViewLevel]="2"
          [clrStackViewSetsize]="0"
          [clrStackViewPosinset]="1"
        >
          <clr-stack-label>Quick switcher menu</clr-stack-label>
          <clr-stack-content>
            <span class="label">Ctrl<span class="badge">Enter</span></span>
          </clr-stack-content>
        </clr-stack-block>
        <clr-stack-block
        [clrStackViewLevel]="2"
        [clrStackViewSetsize]="0"
        [clrStackViewPosinset]="1"
      >
        <clr-stack-label>Apply YAML</clr-stack-label>
        <clr-stack-content>
          <span class="label">Ctrl<span class="badge">Y</span></span>
        </clr-stack-content>
      </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block
        [clrSbExpandable]="false"
        [clrSbExpanded]="true"
        [clrStackViewLevel]="1"
        [clrStackViewSetsize]="2"
        [clrStackViewPosinset]="1"
      >
        <clr-stack-label>YAML</clr-stack-label>
        <clr-stack-block
          [clrStackViewLevel]="2"
          [clrStackViewSetsize]="0"
          [clrStackViewPosinset]="1"
        >
          <clr-stack-label>Command pallete</clr-stack-label>
          <clr-stack-content>
            <span class="label">F1</span>
          </clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="isShortcutModalOpen = false"
    >
      Close
    </button>
  </div>
</clr-modal>
