.resourceViewer {
  .node {
    cursor: pointer;
    fill: white;

    rect {
      border-radius: 4px;
      stroke:rgba(173, 187, 196, 0.3);
      stroke-width: 1px;
    }

    &.selected {
      rect {
        stroke-width: 3px;
      }
    }

    .label {
      fill: black;
    }

    &.node-ok {
      rect {
        fill: #22343c;
      }
    }

    &.node-warning {
      rect {
        fill: #ffb630;
      }
    }

    &.node-error {
      rect {
        fill: #ff3730;
      }
    }
  }

  .edgePath {
    path.path {
      fill: rgba(173, 187, 196, 0.3);
      stroke: rgba(173, 187, 196, 0.3);
      stroke-width: 1.5px;
    }
  }
}
