@import '~css/variables/variables.scss';

.resourceViewer {
  .node {
    cursor: pointer;
    fill: white;

    rect {
      border-radius: 4px;
      stroke: rgba(173, 187, 196, 0.3);
      stroke-width: 1px;
      fill: #22343c;
    }

    .label {
      fill: black;
    }

    &.node-ok {
      filter: box-shadow 0 4px 10px rgba(0, 0, 0, 0.3);
      rect {
        stroke: green;
      }
    }

    &.node-warning {
      rect {
        stroke: #ffb630;
      }
    }

    &.node-error {
      rect {
        stroke: #ff3730;
      }
    }
  }

  .edgePath {
    path.path {
      fill: rgba(173, 187, 196, 0.3);
      stroke: rgba(173, 187, 196, 0.3);
      stroke-width: 1.5px;
    }
  }
}
