.resourceViewer {
  .resource {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 30px;
    position: relative;
  }

  .resource.selected {
    border: 2px solid black;
  }

  .resource-name {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .resource-type {
    font-size: 12px;
    font-weight: 200;
  }

  .resource-status {
    bottom: 0;
    height: 15px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .status-ok {
    background-color: blue;
  }

  .status-warning {
    background-color: orange;
  }

  .status-error {
    background-color: red;
  }
}
