.loading {
  animation: loadinganimation 2.25s;
  animation-iteration-count: infinite;
  display: block;
  margin: auto;
}

@keyframes loadinganimation {
  0% { transform: scale(0) rotate(0deg); }
  50% { opacity: 1; transform: scale(1) rotate(180deg); }
  100% { opacity: 0; transform: scale(0) rotate(360deg); }
}
