name: lint
on:
  push:
    branches:
    - master
    - release-*
  pull_request:
    branches:
    - master
    - release-*

jobs:
  go_linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - name: go vet
        env:
          GOFLAGS: -mod=vendor
        run: |
          go run build.go go-install
          go run build.go vet
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.3.0
        with:
          node-version: '16'
          cache: 'npm'
          cache-dependency-path: 'web/package-lock.json'
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17.x
      - name: eslint
        run: |
          go run build.go web-lint
