name: lint
on:
  push:
    branches:
    - master
    - release-*
  pull_request:
    branches:
    - master
    - release-*

jobs:
  go_linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - uses: actions/checkout@v2
      - name: go vet
        env:
          GOFLAGS: -mod=vendor
        run: |
          go run build.go go-install
          go run build.go vet
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2.1.3
        with:
          node-version: '14'
      - uses: actions/checkout@v2
      - name: eslint
        run: |
          cd web
          npm ci
          npm run lint
