{{ define "main" }}
	<main>
		{{ partial "hero.html" . }}
		{{ partial "homepage-grid.html" . }}
		<div class="bg-grey introduction">
			<div class="wrapper grid two">
				<div class="col">
					<p class="strong"><a href="/posts/2019-08-12-octant-reveals-objects-running-in-kubernetes-clusters/">Introduction to Octant</a></p>
					<p>Learn about why Octant was created and how it aims to improve upon past attempts to create a Kubernetes dashboard.</p>
				</div>
				<div class="col">
					<p class="strong"><a href="https://www.youtube.com/watch?v=D5PLsXP9aPc">Octant Webinar - Sept 18, 2019</a></p>
					<p>Learn how to use Octant in your environment to better understand the state of the applications running inside the cluster.</p>
				</div>
			</div>
		</div>
		{{ partial "use-cases.html" . }}
		{{ partial "blog-highlights.html" . }}
	</main>
{{ end }}
