<div class="content-container">
    <div class="content-area">
        <h2>Tools for Writing Octant Plugins</h2>
        <ul>
            <li><a href="https://github.com/topics/octant-plugin">Github for example plugins</a></li>
            <li><a href="https://github.com/vmware-tanzu/octant/tree/master/cmd/octant-sample-plugin">Octant sample plugin</a></li>
        </ul>
        <p>For additional questions, use the <a href="https://kubernetes.slack.com/app_redirect?channel=CM37M9FCG">Slack channel</a> or open a Github issue.</p>
    </div>
</div>